*{
    padding: 0px;
    margin: auto;
}
.wrapper{
    background-color: beige;
    width: 1089px;
    height: 800px;
}
header{
    background-color: rgb(110, 110, 119);
    width: 1089px;
    height: 150px;
    
}
nav{
    background-color:brown;
    width: 1089px;
    height: 50px;   
}
.content{
    background-color: chartreuse;
    width: 1089px;
    height: 500px;
}
aside{
    background-color: cadetblue;
    width: 35%;
    height: 100%;
    float:left;
}
section{
    background-color: rgb(64, 226, 43);
    width: 65%;
    height: 100%;
    float: left;
}
footer{
    background-color:black ;
    width: 1089px;
    height: 100px;
}
h1{
    text-align: center;
    font-size: 35px;
    color:white;   
}
.menu li{
    width:150px;
    line-height: 50px;
    list-style: none;
    float:left;
    text-indent:10px;
    background-color:  rgb(177, 201, 204);
    position: relative;
}
li a{
    text-decoration: none;
    font-weight: bold;
    color:blue;
}
li:hover{
    background-color: rgb(31, 70, 37);
}
li:hover>a{
    color:yellow;
    font-style: italic;
}
li .sub{
    display: none; 
    position: absolute;
}

li:hover>.sub{
    display:block;
}

li .sub >li:hover>.sub{
    top:0px;
    left: 150px;
}
.sub li:hover{
    background-color: rgb(74, 72, 90);
}
.sub li>.sub li{
    background-color: rgb(23, 69, 148);
}
.sub li>.sub li:hover{
    background-color: black;
}
}
